# Question 1

What's the version of NumPy that you installed?

You can get the version information using the `__version__` field:

In [1]:
import pprint

import numpy as np
import pandas as pd

print('numpy:', np.__version__)
print('pandas:', pd.__version__)

numpy: 1.21.5
pandas: 1.4.3

# Getting the data

For this homework, we'll use the Car price dataset. Download it from here.

You can do it with wget:

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-12 23:48:20--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1,4M) [text/plain]
Saving to: ‘data.csv.1’

data.csv.1          100%[===================>]   1,41M  5,39MB/s    in 0,3s

2022-09-12 23:48:20 (5,39 MB/s) - ‘data.csv.1’ saved [1475504/1475504]

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
cars = pd.read_csv('data.csv')
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

# Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

In [4]:
print('number of rows:', len(cars))

number of rows: 11914

# Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [5]:
cars['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

# Question 4

What's the number of unique Audi car models in the dataset?

In [6]:
unique_audi_models = cars[cars['Make'] == 'Audi']['Model'].unique()
print(unique_audi_models)
len(unique_audi_models)

['100' '200' '80' '90' 'A3' 'A4 allroad' 'A4' 'A5' 'A6' 'A7' 'A8'
 'allroad quattro' 'allroad' 'Cabriolet' 'Coupe' 'Q3' 'Q5' 'Q7' 'R8'
 'RS 4' 'RS 5' 'RS 6' 'RS 7' 'S3' 'S4' 'S5' 'S6' 'S7' 'S8' 'SQ5' 'TT RS'
 'TT' 'TTS' 'V8']

34

# Question 5

How many columns in the dataset have missing values?

In [7]:
contains_null = [any(cars[col].isnull()) for col in cars]

# whether the selected column contains a missing value
pprint.pprint(dict(zip(cars, contains_null)))

print('\na number of columns that contain a missing value:', sum(contains_null))

{'Driven_Wheels': False,
 'Engine Cylinders': True,
 'Engine Fuel Type': True,
 'Engine HP': True,
 'MSRP': False,
 'Make': False,
 'Market Category': True,
 'Model': False,
 'Number of Doors': True,
 'Popularity': False,
 'Transmission Type': False,
 'Vehicle Size': False,
 'Vehicle Style': False,
 'Year': False,
 'city mpg': False,
 'highway MPG': False}

a number of columns that contain a missing value: 5

# Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

In [8]:
engine_cylinders = cars['Engine Cylinders']
engine_cylinders_median = engine_cylinders.median()
print('engine cylinders median: ', engine_cylinders_median)
engine_cylinders_most_frequent = engine_cylinders.value_counts().index[0]
print('engine cylinders most frequent: ', engine_cylinders_most_frequent)

print('\nBEFORE FILLING NULLs. engine cylinders has nulls?:', any(engine_cylinders.isnull()))

engine_cylinders_filled = engine_cylinders.fillna(engine_cylinders_most_frequent)

print('\nAFTER FILLING NULLs. engine cylinders has nulls?:', any(engine_cylinders_filled.isnull()))
print('engine cylinders median: ', engine_cylinders_filled.median())

engine cylinders median:  6.0
engine cylinders most frequent:  4.0

BEFORE FILLING NULLs. engine cylinders has nulls?: True

AFTER FILLING NULLs. engine cylinders has nulls?: False
engine cylinders median:  6.0

# Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Compute the inverse of `XTX`.
7. Create an array `y` with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

> Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [9]:
lotus_cars = cars[cars['Make'] == 'Lotus']
X = np.array(lotus_cars[['Engine HP', 'Engine Cylinders']].drop_duplicates())
XTX = X.T @ X

y = np.array([1100., 800., 750., 850., 1300., 1000., 1000., 1300., 800.])
w = np.linalg.inv(XTX) @ X.T @ y
print(w[0])

4.594944810094551